<html>
    <head>
        <meta charset="UTF-8"> 
        <title>register</title>
    </head>
    <body>
        <div>
            {% if user.is_authenticated %}
                已登录
                <a href="{% url 'logout' %}"><input type="button" value="登出"></a>
            {% else %}
                <form action="{% url 'register' %}" method="POST">
                    {% csrf_token %}
                    username<input type="text" name="username"><br>
                    password<input type="password" name="password"><br>
                    password2<input type="password" name="password2"><br>
                    email<input type="email" name="email"><br>
                    female:<input type="radio" name="gender" value="female" checked="checked">
	                male:<input type="radio" name="gender" value="male"><br>
                    age<input type="text" name="age"><br>
                    <input type="submit" value="注册"><br>
                </form>
            {% endif %}
        </div>
    </body>
</html>