<html>
    <head>
        <meta charset="UTF-8"> 
        <title>Borrowlist</title>
    </head>
    <body>
        <div>
            {{ message }}<br>
            借阅信息<br>
            {% for it in result %}
                <a href="/periodical/{{ it.period.id }}">{{ it.period.Name }}</a>
                <a href="/users/{{ it.user.id }}">{{ it.user.username }}</a>
                <p>{{ it.borrow.Borrow_Time }}</p>
                <p>{{ it.borrow.Borrow_Duration }}</p>
                <p>{{ it.borrow.Return_Time }}</p>
                {% if it.borrow.Return == False %}
                    <a href="/periodical/return/{{ it.borrow.id }}">还书</a>
                {% else %}
                    已还
                {% endif %}
                <br>

            {% endfor %}
        </div>
    </body>
</html>