{% extends 'base.html' %}
{% load staticfiles %}   <!-- 虽然extends了 但还是要加上 -->

{% block title %}
    更改用户信息
{% endblock %}

{% block header_extend %}
    <link rel="stylesheet" href="{% static 'users/css/change.css' %}">
{% endblock  %}

{% block content %}

<div>
    <form action="{% url 'change' %}" method="POST">
        {% csrf_token %}
        username : {{ User.username }}<br>
        nickname : <input type="text" name="nickname" value="{{ UserProfile.nickname }}"><br>
        e-mail   : <input type="email" name="email" value="{{ User.email }}"><br>
        age      : <input type="number" name="age" value="{{ UserProfile.age }}"><br>
        性别 :<select name="gender">
            {% if UserProfile.gender == male %}
                <option value="male" selected="selected">男</option>
                <option value="female">女</option>
            {% else %}
                <option value="male" >男</option>
                <option value="female" selected="selected">女</option>
            {% endif %}
        </select><br>
        <input type="submit" value="确认修改">
    </form>
    <p>{{message}}</p>
</div>

{% endblock  %}










