{% extends 'base.html' %}
{% load staticfiles %}   <!-- 虽然extends了 但还是要加上 -->

{% block title %}
    修改密码
{% endblock %}

{% block header_extend %}
    <link rel="stylesheet" href="{% static 'users/css/password.css' %}">
{% endblock  %}

{% block content %}

<div>
    <form action="{% url 'password' %}" method="POST">
        {% csrf_token %}
        用户名 : {{ user.username }}<br>
        旧密码 : <input type="password" name="oldpw"><br>
        新密码 : <input type="password" name="newpw"><br>
        确认新密码 :<input type="password" name="newpw2"><br>
        <input type="submit" value="确认修改">
    </form>
    <p>{{message}}</p>
</div>

{% endblock  %}










