{% extends 'base.html' %}
{% load staticfiles %}   <!-- 虽然extends了 但还是要加上 -->

{% block title %}
    About
{% endblock %}

{% block header_extend %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}"> 
{% endblock  %}

{% block nav_about_active %}
    active
{% endblock %}

{% block content %}


<div class="row" style="text-align: center">
    <h2>
        <b>开 发 人 员</b>
    </h2>
</div><br><br>


<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-2" style="text-align: center">
        <img class="round" src="{% static 'persons/1.png' %}">
        <br>
        <div>
            <h3>刘瑞鹏</h3>
        </div>
    </div>
    <div class="col-xs-2" style="text-align: center">
        <img class="round" src="{% static 'persons/2.png' %}">
        <br>
        <div>
            <h3>陈昱翔</h3>
        </div>
    </div>    <div class="col-xs-2" style="text-align: center">
        <img class="round" src="{% static 'persons/3.png' %}">
        <br>
        <div>
            <h3>符春兰</h3>
        </div>
    </div>    <div class="col-xs-2" style="text-align: center">
        <img class="round" src="{% static 'persons/4.png' %}">
        <br>
        <div>
            <h3>李子文</h3>
        </div>
    </div>
    <div class="col-xs-2"></div>
</div><br><br><br>


<div class="row" style="text-align: center">
    <h3>Code: <a href="https://github.com/Feynman1999/JourHub">https://github.com/Feynman1999/JourHub</a></h3>
</div>
{% endblock  %}

