{% extends 'base.html' %}
{% load staticfiles %}   <!-- 虽然extends了 但还是要加上 -->

{% block title %}
    JourHub's index
{% endblock %}

{% block header_extend %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}"> 
{% endblock  %}

{% block nav_index_active %}
    active
{% endblock %}

{% block content %}
<div class="row" id="row_search">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <br><br><br>
        <h3><span class="text-danger pull-right"></span></h3>
        <form action="{% url 'search' %}" method="POST">
                {% csrf_token %}
                <div class="form-inline">
                    <select name="type" class="form-control" id="select1" onchange="select_change()">
                            <option value ="periodical">期刊</option>
                            <option value ="paper">论文</option>
                    </select>&nbsp;&nbsp;
                    <input style="width: 350px" type="text" class="form-control" placeholder="输入您要查询的关键字" name="context">&nbsp;&nbsp;&nbsp;  
                    <button type="submit" class="btn btn-primary">搜索</button>&nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-info">
                        <span><b>高级搜索</b></span>
                        <input type="radio" name="level" value="True" id="ads_yes">是
                        <input type="radio" name="level" value="False" checked="checked" id="ads_no">否
                    </button>
                </div><br>
                <div class="form-inline" id="ads">
                </div>
        </form>
        <br><br><br>
    </div>
    <div class="col-md-2"></div>
</div>
<br>
<div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
        <div class="row" style="text-align: center">
            <h3>
                <img height="26px" src="{% static '1.png' %}" style="display: inline-block">
                <b>热门期刊</b>
                <img height="26px" src="{% static '2.png' %}" style="display: inline-block">
            </h3>
        </div><br>
        <div class="row">
            {% for it in periodicals %}
                <div class="col-xs-2">
                    <a href="periodical/{{ it.id }}" class="thumbnail">
                        <img class="resize" src="{% static 'peri_images/'|add:it.Name|add:'.png' %}" class="img-responsive" onerror="javascript:this.src='{% static 'logo2.png' %}' ">
                    </a>
                    <div style="text-align: center"><a href="periodical/{{ it.id }}"><b>{{ it.Name }} {{ it.Year }}年{{ it.Volume }}卷{{ it.Phase }}期</b></a> &nbsp 借阅次数:{{ it.Borrow_Count }}</div>
                </div>
            {% empty %}
                <div style="text-align: center"><h4>目前没有热门期刊/(ㄒoㄒ)/~~</h4></div>
            {% endfor %}
        </div>
    </div>
    <div class="col-xs-1"></div>
</div><br><br>

<div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-10">
            <div class="row" style="text-align: center">
                <h3>
                    <img height="26px" src="{% static '1.png' %}" style="display: inline-block">
                    <b>最新借阅</b>
                    <img height="26px" src="{% static '2.png' %}" style="display: inline-block">
                </h3>
            </div><br>
            <div class="row">
                {% for it in borrow %}
                    <div class="col-xs-2">
                        <a href="periodical/{{ it.borrow.Period_id }}" class="thumbnail">
                            <img class="resize" src="{% static 'peri_images/'|add:it.period.Name|add:'.png' %}" class="img-responsive" onerror="javascript:this.src='{% static 'logo2.png' %}' ">
                        </a>
                        <div style="text-align: center"><a href="periodical/{{ it.borrow.Period_id }}"><b>{{ it.period.Name }} {{ it.period.Year }}年{{ it.period.Volume }}卷{{ it.period.Phase }}期</b></a><br>
                        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>{{ it.borrow.Borrow_Time }}</div>
                    </div>
                {% empty %}
                    <div style="text-align: center"><h4>目前没有借阅信息/(ㄒoㄒ)/~~</h4></div>
                {% endfor %}
            </div>
        </div>
        <div class="col-xs-1"></div>
</div>

{% endblock  %}

{% block script %}

<script type="text/javascript" src="{% static 'js/search.js' %}"></script>

{% endblock  %}