<html>
    <head>
        <meta charset="UTF-8"> 
        <title>Index</title>
    </head>
    <body>
        <div>
            {% if user.is_authenticated %}
                已登录
                <a href="{% url 'logout' %}"><input type="button" value="登出"></a>
                <a href="{% url 'borrowlist' %}"><input type="button" value="借阅记录"></a>
                <a href="/users/{{ user.id }}"><input type="button" value="个人信息"></a>
                <div>
                    <form action="{% url 'search' %}" method="POST">
                        {% csrf_token %}
                        <select name="type">
                                <option value="periodical">期刊</option>
                                <option value="paper">论文</option>
                        </select>
                        <input type="text" name="context">
                        <input type="submit" value="搜索">
                    </form>
                </div>
                <div>
                    期刊数量:{{ periodicals | length }}<br>
                    {% for periodical in periodicals %}
                        <h4><a href="periodical/{{ periodical.id }}">{{ periodical.Name }}</a></h4>
                        年：{{ periodical.Year }}
                        卷: {{ periodical.Volume }}
                        期: {{ periodical.Phase }}
                        发布周期:{{ periodical.Cycle }}<br>
                    {% empty %}
                        <h3>No periodical</h3>
                    {% endfor %}
                </div>
            {% else %}
                <form action="{% url 'login' %}" method="POST">
                    {% csrf_token %}
                    <input type="text" name="username">
                    <input type="password" name="password">
                    <input type="submit" value="登陆">
                </form>
                <a href="{% url 'register' %}"><input type="button" value="注册"></a>
                
            {% endif %}
        </div>
    </body>
</html>