{% extends 'base.html' %}
{% load staticfiles %}   <!-- 虽然extends了 但还是要加上 -->

{% block title %}
    征订列表
{% endblock %}

{% block header_extend %}
    <link rel="stylesheet" href="{% static 'periodical/css/addlist.css' %}">
{% endblock  %}

{% block nav_addlist_active %}
    active
{% endblock %}

{% block content %}
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">登记</h4>
                </div>
                <form id="makesure_number" action="">
                        <div class="modal-body">
                            <label for="">请输入该期刊包含论文的数量：</label> 
                            <input name="number"  onblur="JavaScript:check1(this)" type="number" class="form-control" placeholder="请填写数字，默认为3">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button type="submit" class="btn btn-primary">提交</button>
                        </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
</div>

<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
        <div class="row" style="text-align: center">
                <h3>
                    <img height="26px" src="{% static '3.png' %}" style="display: inline-block">
                    <b>在路上的期刊</b>
                    <img height="26px" src="{% static '3.png' %}" style="display: inline-block">
                </h3>
        </div><br>
        {% ifnotequal notcheck|length 0 %}
            <table class="table table-hover">
                <tr class="success">
                    <th>期刊名</th>
                    <th>年</th>
                    <th>期</th>
                    <th>征订日期</th>
                    <th>征订人</th>
                    <th>操作</th>
                </tr>
                {% for it in notcheck %}
                    <tr>
                        <td><b>{{ it.Name }}</b></td>
                        <td>{{ it.Year }}</td>
                        <td>{{ it.Phase }}</td>
                        <td>{{ it.Order_Time }}</td>
                        <td>{{ it.Responsibler.username }}</td>
                        <td><a data-toggle="modal" data-target="#myModal" onclick=makesure_number({{it.id}})>到货了?点此登记</a></td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <div style="text-align: center"><h4><b>所有期刊均已到货并登记啦(●ˇ∀ˇ●)</b></h4></div>
        {% endifnotequal %}
    </div>
    <div class="col-xs-2"></div>
</div>

<!--已经有的的期刊-->
<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
        <div class="row" style="text-align: center">
                <h3>
                    <img height="26px" src="{% static '3.png' %}" style="display: inline-block">
                    <b>已登记的期刊</b>
                    <img height="26px" src="{% static '3.png' %}" style="display: inline-block">
                </h3>
        </div><br>
        {% ifnotequal checked|length 0 %}
            <table class="table table-hover">
                <tr class="danger">
                    <th>期刊名</th>
                    <th>年</th>
                    <th>卷</th>
                    <th>期</th>
                    <th>征订日期</th>
                    <th>征订人</th>
                    <th>总量</th>
                </tr>
                {% for it in checked %}
                    <tr>
                        <td><b><a href="/periodical/{{ it.id }}">{{ it.Name }}</a></b></td>
                        <td>{{ it.Year }}</td>
                        <td>{{ it.Volume }}</td>
                        <td>{{ it.Phase }}</td>
                        <td>{{ it.Order_Time }}</td>
                        <td>{{ it.Responsibler.username }}</td>
                        <td>{{ it.Total }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <div style="text-align: center"><h4><b>还没有登记的期刊哦/(ㄒoㄒ)/~~</b></h4></div>
        {% endifnotequal %}
    </div>
    <div class="col-xs-2"></div>
</div>
{% endblock  %}

{% block script %}

<script type="text/javascript">
function makesure_number(object_id){
    //更改模态框中表单的action地址
    if (typeof(object_id) != "number"){
        alert("Wrong!!!");
        $("#myModal").remove();
    }else{
        var path = "/periodical/checkin/" + String(object_id);
        $('#makesure_number').attr("action", path);
    }
}


function check1(obj){
    if(parseInt(obj.value)==obj.value && parseInt(obj.value)>=1 && parseInt(obj.value)<=100){
        ;
    }
    else{
        alert('请输入数字,范围为1~100');
        obj.value = 3;
    }
}
</script>

{% endblock  %}
