{% extends 'base.html' %}
{% load staticfiles %}   <!-- 虽然extends了 但还是要加上 -->

{% block title %}
    期刊列表
{% endblock %}

{% block header_extend %}
    <link rel="stylesheet" href="{% static 'periodical/css/barperiodical.css' %}">
{% endblock  %}

{% block nav_periodical_active %}
    active
{% endblock %}

{% block content %}

<div class="row">
    <div style="text-align:center"><h2><b>收录期刊总览 ( 共{{ periodicals|length }}种 )</b></h2></div> 
</div><br>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="row">
            {% for it in periodicals %}
                <div class="col-xs-2">
                    <a href="{% url 'periodical' it.Name %}" class="thumbnail">
                        <img class="resize" src="{% static 'peri_images/'|add:it.Name|add:'.png' %}" class="img-responsive" onerror="javascript:this.src='{% static 'logo2.png' %}' ">
                    </a>
                    <div style="text-align: center"><a href="{% url 'periodical' it.Name %}"><b>{{ it.Name }}</b></a></div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-1"></div>
</div>


{% endblock  %}


{% block script %}
<script src="{% static 'js/barperiodical.js' %}"></script>
{% endblock  %}