{% extends 'base.html' %}
{% load staticfiles %}   <!-- 虽然extends了 但还是要加上 -->

{% block title %}
    Periodrcal
{% endblock %}

{% block header_extend %}
    <link rel="stylesheet" href="{% static 'periodical/css/periodrcal.css' %}">
{% endblock  %}


{% block content %}

<div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-3">
            <a href="{% url 'periodical' periodical.Name %}" class="thumbnail">
                    <img style="height:200px;" src="{% static 'peri_images/'|add:periodical.Name|add:'.png' %}" class="img-responsive" onerror="javascript:this.src='{% static 'logo2.png' %}' ">
            </a>
        </div>
        <div class="col-md-5" style="margin-left: 37px;">
                <h1 style="font-family: SimHei">{{ periodical.Name }}, {{ periodical.Locus }}</h1>
                <br>
                <h2 style="font-family: SimHei">
                    {{ periodical.Year }}年
                    第{{ periodical.Volume }}卷
                    （第{{ periodical.Phase }}期）
                </h2>
                <h4>库存： {{ periodical.Reserve }}</h4>
                <h4>征订日期： {{ periodical.Order_Time }}</h4>
                <a style="margin-right: 50px;" href="/periodical/borrow={{ periodical.id }}+30" class="pull-right"><button class="btn-lg btn-primary" type="button">点击借刊</button></a>
        </div>
        <div class="col-md-2"></div>
</div><br>

<div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
            <div class="row" style="text-align: center">
                    <h3>
                        <img height="26px" src="{% static '3.png' %}" style="display: inline-block">
                        <b>包含论文 ({{papers|length}}) </b>
                        <img height="26px" src="{% static '3.png' %}" style="display: inline-block">
                    </h3>
            </div><br>
            {% ifnotequal papers|length 0 %}
                <table class="table table-hover">
                    <tr class="danger">
                        <th>论文题目</th>
                        <th>作者</th>
                        <th>关键词</th>
                        <th>对应页码</th>
                    </tr>
                    {% for it in papers %}
                        <tr>
                            <td><b><a href="/periodical/paper/{{ it.id }}">{{ it.Title }}</a></b></td>
                            <td>{{ it.Auther }}</td>
                            <td><b>{{ it.KeyWords }}</b></td>
                            <td>{{ it.Pages_Start }} ~ {{ it.Pages_End }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <div style="text-align: center"><h4><b>暂时还没有论文信息，我们会尽快登记~ o(*￣▽￣*)o</b></h4></div>
            {% endifnotequal %}
        </div>
        <div class="col-xs-2"></div>
</div>

{% endblock  %}
