{% extends 'base.html' %}
{% load staticfiles %}   <!-- 虽然extends了 但还是要加上 -->

{% block title %}
    Periodrcals
{% endblock %}

{% block header_extend %}
    <link rel="stylesheet" href="{% static 'periodical/css/periodrcals.css' %}">
{% endblock  %}


{% block content %}
<div>
    期刊数量:{{ result | length }}
    {% for it in result %}
        期刊名:<a href="/periodical/{{ it.id }}">{{ it.Name }}</a>
        年：{{ it.Year }}
        卷: {{ it.Volume }}
        期: {{ it.Phase }}
        发布周期:{{ it.Cycle }}
        邮政编码：{{ it.Postal }}
        CN编号：{{ it.CN }}
        ISSN: {{ it.ISSN }}
        地址： {{ it.Locus }}
        库存： {{ it.Reserve }}
        总量： {{ it.Total }}
        是否到货： {{ it.Status }}
        征订日期： {{ it.Order_Time }}
        
    {% empty %}
        <h3>No Result</h3>
    {% endfor %}
</div>
{% endblock  %}