{% extends 'base.html' %}
{% load staticfiles %}   <!-- 虽然extends了 但还是要加上 -->

{% block title %}
    搜索结果
{% endblock %}

{% block header_extend %}
    <link rel="stylesheet" href="{% static 'periodical/css/search.css' %}">
{% endblock  %}


{% block content %}
<div class="row" id="row_search">
    <div class="col-md-2"></div>
    <div class="col-md-8">
            <br><br><br>
            <h3><span class="text-danger pull-right"></span></h3>
            <form action="{% url 'search' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-inline">
                        <select name="type" class="form-control" id="select1" onchange="select_change()">
                            {% if type == "paper" %}
                                <option value="periodical">期刊</option>
                                <option value="paper" selected="selected">论文</option>
                            {% else %}
                                <option value="periodical" selected="selected">期刊</option>
                                <option value="paper">论文</option>
                            {% endif %}
                        </select>&nbsp;&nbsp;
                        <input style="width: 350px" type="text" class="form-control" placeholder="输入您要查询的关键字" value="{{ context }}" name="context">&nbsp;&nbsp;&nbsp;  
                        <button type="submit" class="btn btn-primary">搜索</button>&nbsp;&nbsp;&nbsp;&nbsp;
                        <button type="button" class="btn btn-info">
                                <span><b>高级搜索</b></span>
                                <input type="radio" name="level" value="True" {% if level %}checked="checked"{% endif %} id="ads_yes">是
                                <input type="radio" name="level" value="False" {% if not level %}checked="checked"{% endif %} id="ads_no">否
                        </button>
                    </div><br>
                    <div class="form-inline" id="ads">
                        {% if level %}
                            {%if type == "periodical" %}
                                <button type="button" class="btn btn-success btn-circle">年</button>
                                <input style="width: 100px" type="number" value="{{ level.Year }}" name="Year" class="form-control">&nbsp;
                                <button type="button" class="btn btn-danger btn-circle">卷</button>
                                <input style="width: 100px" type="number" value="{{ level.Volume }}" name="Volume" class="form-control">&nbsp;
                                <button type="button" class="btn btn-warning btn-circle">期</button>
                                <input style="width: 100px" type="number" value="{{ level.Phase }}" name="Phase" class="form-control">&nbsp;&nbsp;&nbsp;
                            {% else %}
                                <button type="button" class="btn btn-success btn-circle">作者</button>
                                <input style="width: 150px" value="{{ level.Auther }}" type="text" name="Auther" class="form-control">&nbsp;
                                <button type="button" class="btn btn-danger">开始页码</button>
                                <input style="width: 100px" value="{{ level.Pages_Start }}" type="number" name="Pages_Start" class="form-control">&nbsp;
                                <button type="button" class="btn btn-warning">结束页码</button>
                                <input style="width: 100px" value="{{ level.Pages_End }}" type="number" name="Pages_End" class="form-control">&nbsp;
                            {% endif %}
                        {% endif %}
                    </div>
            </form>
            <br><br><br>
    </div>
    <div class="col-md-2"></div>
</div><br>


<div>
    搜索结果<br>
    {% if type == "periodical" %}
        {% for it in result %}
            <h4><a href="/periodical/periodical={{ it.Name }}/">{{ it.Name }}</a></h4>
            年：{{ it.Year }}
            卷: {{ it.Volume }}
            期: {{ it.Phase }}
            发布周期:{{ it.Cycle }}
            邮政编码：{{ it.Postal }}
            CN编号：{{ it.CN }}
            ISSN: {{ it.ISSN }}
            地址： {{ it.Locus }}
            库存： {{ it.Reserve }}
            <br>
        {% endfor %}
    {% else %}
        {% for it in result %}
            <h4><a href="/periodical/paper/{{ it.id }}/">{{ it.Title }}</a></h4>
            作者：{{ it.Auther }}
            关键词：{{ it.keyWords }}
            页码： {{ it.Pages_Start }} ~ {{ it.Pages_End }}
            摘要：{{ it.Abstract }}
            <br>
        {% endfor %}
    {% endif %}
</div>
{% endblock  %}

{% block script %}

<script type="text/javascript" src="{% static 'js/search.js' %}"></script>

{% endblock  %}
